body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
header {
    display: flex;           /* organiza en fila */
    align-items: center;     /* centra verticalmente */
    justify-content: flex-start; /* asegura que todo arranque a la izquierda */
    /*background-color: #ecfeff;*/
}
h2{
    margin: 0 auto;       /* centra horizontalmente */
    text-align: center;
}
.logo {
    width: 200px;   /* tamaño del logo */
    height: auto;  /* mantiene proporción */
    margin-right: 15px; /* separa del texto */
}
.container {
    display: flex;
    height: 100vh;
}
.column-left {
    flex: 0 0 20%;
    padding: 20px;
    display: flex;
    align-items: center;  
}
.column-right {
    flex: 1;
    padding: 20px;
}


.modal {
    display: none;            /* Oculto por defecto */
    position: fixed;          
    inset: 0;                 /* top:0, right:0, bottom:0, left:0 */
    background: rgba(0,0,0,0.5);
    z-index: 1000;
}

.modal-content {
    background: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    max-width: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.modal-content form section {
    display: grid;
    grid-template-columns: 150px 1fr auto auto auto; 
    /* 150px para el label, 1fr para el input, luego columnas para botones */
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}

.modal-content form label {
    font-weight: 600;
    text-align: right; /* label alineado a la derecha */
}

.modal-content form input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
}

.modal-content form button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.modal-content form button i {
    transition: transform 0.2s ease;
}

.modal-content form button:hover i {
    transform: scale(1.2);
}
