body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
header {
    display: flex;
    /*flex-direction: column; /* Logo arriba, menú abajo */
    align-items: center;    /* Centra horizontalmente */
    justify-content: center;
    text-align: center;
    padding: 1rem;
}
h2{
    margin: 0 auto;       /* centra horizontalmente */
    text-align: center;
}

.logo {
    width: 200px;   /* tamaño del logo */
    height: auto;  /* mantiene proporción */
    margin-right: 15px; /* separa del texto */
}

.menu{
    list-style: none;
    display: flex;
    gap: 2rem; /* espacio entre elementos */

}
.menu li a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  font-weight: 500;
}
.barra{
    background-color: #57cbd1;
    width: 100%;/* ocupa todo el ancho de la pantalla */
    height: 100px;
    left: 0;
    right: 0;
    margin-bottom: 100px;
}
.contenedor{
    display: flex;
    height: 100vh;
}
.left {
    flex: 0 0 20%;
    padding: 20px;
}
.right {
    flex: 1;
    padding: 20px;
}